Repository jtr13/cc21fall2, pull requests merged in 2021-12, with the labels that each got.

#105 Create Python_Visualization_Tutorial.Rmd
  python_visualization_tutorial2.Rmd
  resources/python_visualization_tutorial/EDAV Community Contribution.ipynb
  resources/python_visualization_tutorial/EDAV Community Contribution.pdf
  resources/python_visualization_tutorial/EDAV Community Contribution.py
Labels: tutorial

#96 Neo4j python implementation
  _bookdown.yml
  comunity_contribution.Rmd
Labels: changes requested, data_visualizations

#44 Github Submission for spark_tutorial_in_r.Rmd
  _bookdown.yml
  spark_tutorial_in_r.Rmd
Labels: tutorial

#101 3 d data and potential relationship visualization
  .Rbuildignore
  .github/.gitignore
  .github/workflows/bookdown.yaml
  .gitignore
  3D_data_and_potential_relationship_visualization.Rmd
  DESCRIPTION
  README.md
  _bookdown.yml
  _common.R
  _output.yml
  appendix_initial_setup.Rmd
  appendix_pull_request_tutorial.Rmd
  apply_function_in_r.Rmd
  assignment.Rmd
  cctemplate.Rproj
  clustering_analysis_tutorial.Rmd
  data_vis_ordering.Rmd
  hypothesis_testing_cheatsheet.Rmd
  index.Rmd
  instructions.Rmd
  introdution_interative_graphs_in_r.Rmd
  make_r_packages.Rmd
  network_visualization_in_r.Rmd
  postgresql_r.Rmd
  r_lattice_tutorial.Rmd
  rchess_package_cheatsheet.Rmd
  resources/stock_analysis/PFE.csv
  resources/use_python_in_r/stats_wl.csv
  sample_project.Rmd
  statistics_in_r_vs_python.Rmd
  stock_analysis.Rmd
  using_python_in_r.Rmd
Labels: data_visualizations
